body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Here are some modern CSS color themes that you can consider for your website:

Dark Mode Theme:

Background: #121212
Text: #FFFFFF
Accent Color: #FFD369
Material Design Theme:

Background: #F5F5F5
Text: #212121
Primary Color: #3F51B5
Secondary Color: #FF9800
Neon Theme:

Background: #2B2B2B
Text: #FFFFFF
Primary Color: #01FF70
Secondary Color: #FFD300
Pastel Theme:

Background: #F5F5F5
Text: #212121
Primary Color: #64DFDF
Secondary Color: #A6E3E9
Gradient Theme:

Background: linear-gradient(90deg, #9B4DCA 0%, #FF6B6B 100%)
Text: #FFFFFF
Accent Color: #F8BBD0 */



/* margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px */